<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="./css/style (1).css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
                <h1>Login as Mentor</h1>
				<form action="/signin-mentor" method="GET">
					<button>Login</button>
				</form>
			</div>

			
			</div>
	</div>
	<div class="main1">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="/signin-mentee" method="GET">
                    <h1>Login as Mentee</h1>
					<button>Login</button>
				</form>
			</div>

			
			</div>
	</div>

</body>
</html>
<!-- partial -->
  
</body>
</html>
